# Strings

In [4]:
string1 = "Hi!"

In [ ]:
# let's print

In [5]:
string1

'Hi!'

In [ ]:
# or this way with the apexes

In [6]:
string2 = 'Hello'

In [7]:
string2

'Hello'

In [ ]:
# we can print a string by writing its name or using the function print()

In [8]:
print(string1)

Hi!

In [ ]:
# print string1

In [ ]:
# be careful when using single quotes as they may create confusion, for example, with apostrophes

In [9]:
string3 = 'I'd like to code in Python'

SyntaxError: invalid syntax (<ipython-input-9-69c28aa86175>, line 1)

In [10]:
string4 = "I'd like to code in Python"

In [11]:
string4

"I'd like to code in Python"

In [26]:
aml = "Amlet said: \"to be or not to be ...\". Oratio answered "

In [27]:
aml

'Amlet said: "to be or not to be ...". Oratio answered '

In [28]:
aml2 = "Amleto said: to be or not to be \n Oratio answered ..."

In [29]:
print(aml2)

Amleto said: to be or not to be
 Oratio answered ...

In [ ]:
# "\ t" is the tab operator

In [30]:
aml3 = "Amleto said: to be or not to be \t Oratio answered ..."

In [31]:
print(aml3)

Amleto said: to be or not to be 	 Oratio answered ...

In [17]:
# concatenation operator "+"

In [32]:
string1

'Hi!'

In [33]:
string2

'Hello'

In [34]:
string1 + string2

'Hi!Hello'

In [ ]:
# repetition operator "*"

In [35]:
string1*10

'Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!Hi!'

In [36]:
string5 = """I'd
like
to
code
in 
Python
"""

In [37]:
string5

"I'd\nlike\nto\ncode\nin \nPython\n"

In [38]:
print(string5)

I'd
like
to
code
in
Python

In [39]:
type(string1)

str

In [40]:
len(string1)

3

In [42]:
id(string1)

4555114792

In [43]:
string1

'Hi!'

In [ ]:
# slicing

In [44]:
string1[0]

'H'

In [45]:
string2[2]

'l'

In [46]:
string4[-1]

'n'

In [47]:
aml[1:10]

'mlet said'

In [48]:
aml[5:]

' said: "to be or not to be ...". Oratio answered '

In [49]:
aml[:10]

'Amlet said'

In [50]:
aml[:-2]

'Amlet said: "to be or not to be ...". Oratio answere'

In [ ]:
# # the following notation is used to reverse a string (or even just a part of it)

In [51]:
aml[::-1]

' derewsna oitarO ."... eb ot ton ro eb ot" :dias telmA'

In [ ]:
# other methods

In [53]:
string6 = "let's do a little test"

In [54]:
string6

"let's do a little test"

In [55]:
string6.capitalize()

"Let's do a little test"

In [57]:
string6.upper()

"LET'S DO A LITTLE TEST"

In [58]:
string6

"let's do a little test"

In [59]:
string7 = string6.upper()

In [60]:
string7

"LET'S DO A LITTLE TEST"

In [61]:
string7.lower()

"let's do a little test"

In [62]:
# the .find() method, the .index() method, and the .count() method are used to look for one or more characters in a string

In [63]:
string7

"LET'S DO A LITTLE TEST"

In [64]:
string7.find("TT")

13

In [65]:
string7.index('D')

6

In [66]:
string7.count('L')

3

In [ ]:
# the strip() method removes blank spaces at the beginning and end of a string

In [68]:
string8 = "     test     "

In [69]:
string8

'     test     '

In [70]:
string8.strip()

'test'

In [ ]:
# the replace() method allows replacing a part of a string with another element

In [72]:
string9 = "Let's do a little test"

In [73]:
string9

"Let's do a little test"

In [75]:
string9.replace("a little", "a couple of")

"Let's do a couple of test"

In [78]:
string10 = string9.replace("a little", "a couple of")

In [79]:
string10

"Let's do a couple of test"

In [ ]:
# we can verify the presence of a substring

In [80]:
"do" in string9

True

In [81]:
"ueioua" in string9

False

In [ ]:
# the split() method allows you to break a string into a list of multiple elements

In [82]:
string9.split()

["Let's", 'do', 'a', 'little', 'test']

In [ ]:
# the join() method allows you to group a list into a single string

In [83]:
"-".join(["03", "01", "2017"])

'03-01-2017'

In [84]:
"".join(["a", "b", "c", "d"])

'abcd'

In [ ]:
# in this case we insert a space

In [85]:
" ".join(["a", "b", "c", "d"])

'a b c d'

In [ ]:
# immutability

In [ ]:
# we create a string

In [87]:
string1 = "a b c d e f g"

In [88]:
string1

'a b c d e f g'

In [ ]:
# we try to replace the first element "a" with “x" String1 [0] = 'x'

In [89]:
string1[0] = 'x'

TypeError: 'str' object does not support item assignment

In [ ]:
# as you can see we are returned with an error

In [ ]:
# pipe %

In [ ]:
# let's create a new string

In [91]:
string1 = 'test'

In [92]:
string1

'test'

In [ ]:
# we want to print this part of the text and merge our string, we proceed by entering% s before closing the quotation marks and then inserting% (string)

In [93]:
print('my string says: %s' %(string1))

my string says: test

In [3]:
# for loop

In [95]:
for letter in string1: print(letter)

t
e
s
t

In [96]:
word = "string test"

In [97]:
count = 0

In [98]:
for letter in word : 
        count = count + 1
        print(count)

1
2
3
4
5
6
7
8
9
10
11

Python2

for letter in word : 
        count = count + 1
        print count